@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-white: #fef8f8;
  --color-gray: #c4c4c4;
  --color-dark-gray: #7e7e7e;
  --color-black: #191919;
  --color-red: #ee382a;
  --color-purple: #df0a51;
}

body {
  font-family: "Encode Sans Semi Expanded", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
  transition: all 0.25s;
}
a:hover {
  color: var(--color-black);
}

.forms-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: var(--color-white);
  padding: 1rem;
  margin: 0 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 21px -4px #929292;
  overflow: hidden;
}

.form-side {
  width: 50%;
  padding: 4rem 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}

.brands-container {
  margin: 2rem 0;
}
.brands-container + p {
  color: var(--color-dark-gray);
}

.btn-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: var(--color-gray) 1px solid;
  border-radius: 100%;
  transition: background-color 0.25s;
}
.btn-brand:hover {
  background-color: var(--color-gray);
}
.btn-brand i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
  gap: 1rem;
}

.input-container {
  width: 100%;
}

.input {
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: -ms-fill-available;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: #ebebeb;
  border: 1px #cdcdcd solid;
  border-radius: 4px;
  outline: none;
  transition: all 0.25s;
}
.input:hover,
.input:focus,
.input:focus-visible,
.input:focus-within {
  background-color: #dfdfdf;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 16rem;
  transition: all 0.1s;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(0px);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-red);
  box-shadow: 0px 7px 13px -3px #33333300;
}
.btn-primary:hover {
  transform: translateY(-2px);
  background-color: var(--color-red);
  box-shadow: 0px 7px 13px -3px #333;
}
.btn-primary:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 13px -3px #333;
}

.btn-secondary {
  color: var(--color-white);
  border: 1px var(--color-white) solid;
  background-color: transparent;
}
.btn-secondary:hover {
  transform: translate(0);
}
.btn-secondary:active {
  transform: scale(0.95);
}

.details-side {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(
    237deg,
    var(--color-purple) 0%,
    var(--color-red) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  will-change: right;
  transition: all 1s ease-in-out;
  z-index: 0;
}

.details-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.detail-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: left;
  transition: all 1s ease-in-out;
}

.detail-container h1 {
  margin: 0.25rem;
}

.detail-container p {
  margin: 2rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  max-width: 300px;
}

.first-detail {
  left: 0%;
}

.second-detail {
  left: -100%;
}

.detail-container {
  color: var(--color-white);
}

/* ----------------------- changes after form toggle ----------------------- */

.forms-container.toggle-form .details-side {
  right: 50%;
  background-position: 0% 0;
}

.forms-container.toggle-form .first-detail {
  left: 100%;
}

.forms-container.toggle-form .second-detail {
  left: 0%;
}

@media screen and (width <= 1024px) {
  .inputs-container {
    padding: 0 2rem;
  }
}
@media screen and (width <= 720px) {
  .forms-container {
    flex-direction: column;
    margin: 5rem 2rem;
  }

  .form-side {
    width: 100%;
  }

  .details-side {
    height: 50%;
    width: 100%;
    top: 50%;
  }

  .first-detail {
    top: 0%;
    left: 0%;
  }

  .second-detail {
    top: -100%;
    left: 0%;
  }

  .forms-container.toggle-form .details-side {
    top: 0%;
    right: 0%;
    background-position: 0% 0;
  }

  .forms-container.toggle-form .first-detail {
    top: 100%;
    left: 0%;
  }

  .forms-container.toggle-form .second-detail {
    top: 0%;
    left: 0%;
  }
}
